table {
  border-collapse: collapse;
}

table table {
  width: 100%; 
}

td {
  border: 1px solid black;
  padding: 0;
}

table table td {
  border-bottom: 0;
  border-left: 0;
}

table table td:last-child {
  border-right: 0;
}

table table tr:first-child td {
  border-top: 0;
}
