@font-face {
    font-family: "Zilap";
    src: url("zilap.ttf");
} 

body {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-family: "Zilap";
}

p {
    text-align: justify;
    hyphens: auto;
}

textarea {
    width: 100%;
    height: 10cm;
}

input[type="image"] {
    width: 25%;
}