h1 {
    border-width: 2px;
    border-color: red;
    border-style: dotted;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: solid 1px black;
    text-align: center;
    vertical-align: center;
}

.ures {
    border: none;
}

input[type="number"] {
    width: 75px;
}